<% include partials/header %>

<!-- Rendering the Jumbotron -->
<div class="jumbotron">
    <h1>
        <%= title %>
    </h1>
    <p><%= message %></p> 
    <a href="/new" class="btn btn-primary btn-lg" role="button">Add a new campground</a>
</div>

<!-- Rendering the container -->
<div class="container-fluid">
    <!-- Rendering the camp ground list -->
    <div class="row">
        <% data.forEach(campGround => { %>
            <div class="col-sm-6 col-md-4 col-lg-3" >
                <div class="card bg-light">
                    <img src="<%=campGround.image %>" class="card-img-top mw-50 rounded-top" alt="camp ground image" />
                    <div class="card-body">
                        <h6 class="text-center"><%= campGround.name %></h6> %>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

<br/>
</div>

<% include partials/footer %>